// Colors
$border-Red: hsl(0, 78%, 62%);
$border-Cyan: hsl(180, 62%, 55%);
$border-Orange: hsl(34, 97%, 64%);
$border-Blue: hsl(212, 86%, 64%);
$fc-VeryDarkBlue: hsl(234, 12%, 34%);
$fc-GrayishBlue: hsl(229, 6%, 66%);
$bg-VeryLightGray: hsl(0, 0%, 98%);

//media query
$desktop: 850;
